.crew-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: end;
  background: url("../../assets/crew/background-crew-desktop.jpg") center
    center / cover no-repeat;
}

.crew-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  margin-inline: 10.3125rem;
  margin-top: 8rem;
}

.crew-contents__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: hsl(var(--clr-white));
}

.crew-img-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  max-height: calc(100vh - 150px);
}

.crew-img-container img {
  object-fit: contain;
}

.crew-text {
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-size: 28px;
}

.crew-text span {
  opacity: 0.25;
  font-weight: bold;
  margin-right: 1rem;
}

.crew-member-position {
  font-family: var(--ff-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 37px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-top: 3rem;
}

.crew-member-name {
  font-family: var(--ff-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  white-space: nowrap;
}

.crew-member-about {
  font-size: 1.125rem;
  font-family: var(--ff-sans-normal);
  text-align: left;
  line-height: 32px;
  color: hsl(var(--clr-light));
  font-style: normal;
}

.crew-btn {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: none;
}

.crew-button-group {
  display: flex;
  gap: 8px;
  margin-bottom: 2rem;
}

@media (width <= 1024px) {
  .crew-container {
    background: url("../../assets/crew/background-crew-tablet.jpg") center
      center / cover no-repeat;
  }
}

@media (width <= 768px) {
  .crew-container {
    background: url("../../assets/crew/background-crew-mobile.jpg") center
      center / cover no-repeat;
  }
}
