.home-container {
  min-height: 100vh;
  width: 100%;
  background: url("../src/assets/home/background-home-desktop.jpg") center center / cover no-repeat;
  display: grid;
  place-items: center;
}

.home {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin-inline: 10.3125rem;
  place-items: center;
  margin-top: 10rem;
}

.home-text {
  color: hsl(var(--clr-light));
  display: flex;
  flex-direction: column;
  font-size: var(--fs-500);
  height: 23.875rem;
  gap: 24px;
}

.home-text__travel {
  text-transform: uppercase;
  font-size: var(--fs-700);
  letter-spacing: 4.72px;
  font-family: var(--ff-sans-cond);
  color: 	hsl(var(--clr-light));
}

.home-text__space {
  text-transform: uppercase;
  font-size: var(--fs-900);
  font-family: var(--ff-serif);
}

.home-explore {
  position: relative;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--ff-serif);
  letter-spacing: 2px;
  height: 17.125rem;
  aspect-ratio: 1;
  text-decoration: none;
  color: hsl( var(--clr-dark));
  background-color: hsl(var(--clr-white));
  border-radius: 50%;
  justify-self: end;
}

.home-explore::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: hsl(var(--clr-light));
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.home-explore:hover::after {
  transform: scale(1.5);
  opacity: 0.1;
}

@media (width <= 1024px) {
  .home-container {
    background: url("../src/assets/home/background-home-tablet.jpg") center center / cover no-repeat;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-text__travel {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
    text-align: center;
  }

  .home-text__space {
    font-size: 9.375rem;
  }

  .home-text {
    text-align: center;
  }

  .home-explore {
    height: 15.125rem;
    margin: 4rem 0;
  }
}

@media (width <= 768px) {
  .home-container {
    background: url("../src/assets//home/background-home-mobile.jpg") center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-text__travel {
    font-size: 1rem;
    white-space: nowrap;
  }

  .home-text__space {
    font-size: 5rem;
  }

  .home-text {
    font-size: 15px;
  }

  .home-explore {
    height: 9.375rem;
    margin: 2rem 0;
    font-size: 1.25rem;
  }
}