.nav_bar {
  position: absolute;
  left: 3.8%;
  display: flex;
  width: 96.2%;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  z-index: 3;
}

.nav-container {
  background-color: hsl(var(--clr-light) / 0.04);
  backdrop-filter: blur(81.55px);
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.5;
}

.nav-line {
  flex: 3;
  position: absolute;
  left: calc(-3.8% + 10.3125rem);
  width: 35dvw;
  border: 0.5px solid hsl(0, 0%, 59%);
  z-index: 2;
  opacity: 0.25;
}

.nav-container__list {
  display: flex;
  gap: 3em;
  list-style: none;
  justify-self: center;
  align-self: center;
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  color: hsl(var(--clr-white));
  letter-spacing: 2.7px;
  font-size: var(--fs-600);
  height: 100%;
}

.nav-container__list > * {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.nav-container__list span {
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: hsl(var(--clr-white));
}

.nav-container__list li {
  height: 100%;
  position: relative;
}

.nav-container__list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: hsl(var(--clr-light));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: hsl(var(--clr-white));
}

.nav-container__list li:hover::after {
  opacity: 0.5;
}

.logo {
  width: 48px;
  height: 48px;
}

.logo-container {
  flex: 1;
}

.menu-toggle,
.hamburger {
  display: none;
}

@media (width <= 1024px) {
  ul li > span {
    display: none;
  }

  .nav_bar {
    margin-top: 0px;
  }

  .nav-container__list {
    font-size: 14px;
    letter-spacing: 2.36px;
    gap: 1.5em;
  }
}

@media (width <= 768px) {
  .nav-container {
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    transition:
      max-height 0.4s ease,
      padding 0.4s ease;
    padding: 2rem;
    width: calc(100% - 121px);
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 2;
  }

  .menu-toggle:checked ~ .nav-container {
    transform: translateX(0);
  }

  .nav-container__list {
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 6rem;
  }

  .nav-container__list li {
    height: 10vw;
    font-size: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 21px;
    position: relative;
    margin-right: 2rem;
    z-index: 3;
  }

  .hamburger span {
    position: absolute;
    background: white;
    height: 3px;
    width: 100%;
    left: 0;
    border-radius: 2px;
    transition: all 0.35s ease;
  }

  ul li > span {
    display: inline;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 6px;
  }
  .hamburger span:nth-child(3) {
    top: 12px;
  }

  .menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
  }

  .menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
  }
}
