.technology-container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/technology/background-technology-desktop.jpg")
    center center / cover no-repeat;
}

.technology-contents {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  margin-left: 10.3125rem;
  margin-top: 8rem;
  color: white;
}

.technology-text {
  grid-column: 1 / -1;
}

.technology-button-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-right: 5rem;
}

.tech-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #FFFFFF25;
  color: hsl(var(--clr-white));
  font-family: var(--ff-serif);
  font-size: 2rem;
  background: none;
}

.tech-btn:hover {
  border: 1px solid #FFFFFF;
}

.technology-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-img-container {
  display: flex;
  justify-content: end;
}

.technology-text {
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 4.72px;
}

.technology-text span {
  font-weight: bold;
  opacity: 0.25;
  margin-right: 1rem;
}

.mini-header {
  font-family: var(--ff-sans-cond);
  color: hsl(var(--clr-light));
}

.header-text {
  font-family: var(--ff-serif);
  font-size: 3.5rem;
  font-weight: 400;
}

.technology-about {
  font-family: var(--ff-sans-normal);
  font-size: 1.125rem;
  color: hsl(var(--clr-light));
  line-height: 2rem;
}

.active-tech-btn {
  background: #FFFFFF;
  color: #000000;
}

@media (width <= 1024px) {
  .technology-container {
    background: url("../../assets/technology/background-technology-tablet.jpg") center center / cover no-repeat;
    --margin-left: 3rem;
  }

  .technology-contents {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4";
    margin-left: 0;
    place-items: center;
    row-gap: 5rem;
  }

  .technology-text {
    grid-area: item1;
    justify-self: self-start;
    margin-left: var(--margin-left);
  }
  
  .tech-img-container {
    grid-area: item2;
    width: 100%;

    picture {
      display: block;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .technology-button-group {
    grid-area: item3;
    flex-direction: row;
  }

  .technology-info {
    grid-area: item4;
    align-items: center;
    margin-inline: calc(var(--margin-left) + 5rem);
    gap: 1rem;
  }

  .mini-header {
    font-size: 1rem;
  }

  .header-text {
    font-size: 40px;
  }

  .technology-about {
    text-align: center;
    font-size: 1rem;
  }
}

@media (width <= 768px) {
  .technology-container {
    background: url("../../assets/technology/background-technology-mobile.jpg") center center / cover no-repeat;
  }

  .technology-contents {
    row-gap: 3rem;
    margin-top: 2rem;
  }
  
  .technology-text {
    justify-self: center;
    margin-left: 0;
    font-size: 1rem;
  }

  .technology-button-group {
    margin-right: 0;
  }
  
  .tech-btn {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .technology-about {
    font-size: 15px;
  }

  .mini-header {
    font-size: 14px;
  }

  .header-text {
    font-size: 24px;
  }

  .technology-info {
    margin-inline: 0;
    padding: 0 2rem;
  }
}
