:root {
  /* colors */
   --clr-dark: 230 35% 7%;
   --clr-light: 231 77% 90%;
   --clr-white: 0 0% 100%;

   /* font-sizes */
   --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
   --fs-800: 3.5rem;
   --fs-700: 1.5rem;
   --fs-600: 1rem;
   --fs-500: 1rem;
   --fs-400: 0.9375rem;
   --fs-300: 1rem;
   --fs-200: 0.875rem;

   /* font-families */
   --ff-serif: "Bellefair", serif;
   --ff-sans-cond: "Barlow Condensed", sans-serif;
   --ff-sans-normal: "Barlow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav_bar {
  position: relative;
  left: 3.8%;
  display: flex;
  width: 96.2%;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.nav-container {
  background-color: hsl(var(--clr-light) / 0.04);
  backdrop-filter: blur(81.55px);
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.5;
}

.nav-line {
  flex: 3;
  position: absolute;
  left: calc(-3.8% + 10.3125rem);
  width: 35vw;
  border: 0.5px solid hsl(0, 0%, 59%);
  z-index: 2;
  opacity: 0.25;
}

.nav-container__list {
  display: flex;
  gap: 3em;
  list-style: none;
  justify-self: center;
  align-self: center;
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  color: hsl( var(--clr-white) );
  letter-spacing: 2.7px;
  font-size: var(--fs-600);
}

.nav-container__list > * {
  display: flex;
  gap: 0.25em;
}

.nav-container__list span {
  font-weight: 700;
}

body {
  background: url("../src/assets/home/background-home-desktop.jpg") center center / cover no-repeat;
  min-block-size: 100vh;
}

.logo {
  flex: 1;
}

.home {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin-inline: 10.3125rem;
  place-items: center;
  margin-top: 10rem;
}

.home-text {
  color: hsl(var(--clr-light));
  display: flex;
  flex-direction: column;
  font-size: var(--fs-500);
  height: 23.875rem;
  gap: 24px;
}

.home-text__travel {
  text-transform: uppercase;
  font-size: var(--fs-700);
  letter-spacing: 4.72px;
  font-family: var(--ff-sans-cond);
  color: 	hsl(var(--clr-light));
}

.home-text__space {
  text-transform: uppercase;
  font-size: var(--fs-900);
  font-family: var(--ff-serif);
}

.home-explore {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--ff-serif);
  letter-spacing: 2px;
  height: 17.125rem;
  aspect-ratio: 1;
  text-decoration: none;
  color: hsl( var(--clr-dark));
  background-color: hsl(var(--clr-white));
  border-radius: 50%;
  justify-self: end;
}